.nav{
    background-color: rgb(249, 250, 250);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    /* align-items: center;
    justify-content: center; */
    background-color: rgb(244, 242, 247);
    color: black;
}
li{
    background:white;
    padding: 5px;
    border-radius: 5px;
    color: black;
}
link{
    color: white;
    padding: 20px;
}